.button {
	&-options {
		width: 100%;
		height: 55px;
		margin: 15px;
		font-size: 1.6rem;
		font-family: "Montserrat", serif;
		font-weight: 600;
		background: transparent;
		outline: none;
		cursor: pointer;
		border: 1px solid #fff;
		border-radius: 10px;
		color: #fff;
		letter-spacing: 1px;
		background-image: linear-gradient(
			120deg,
			transparent 0%,
			transparent 50%,
			#fff 50%
		);
		background-size: 220%;
		transition: all 0.5s;
		&:hover,
		&:active,
		&:focus {
			background-position: 100%;
			color: $bgColor;
		}
	}
	&-next {
		align-self: flex-end;
		font-family: "Montserrat", serif;
		font-weight: 600;
		background: transparent;
		outline: none;
		cursor: pointer;
		border: none;
	}
	&-continue {
		border: 2px solid #fff;
		height: 45px;
		width: 180px;
		font-family: "Montserrat", serif;
		font-weight: 500;
		font-size: 1.2rem;
		letter-spacing: 1px;
		background: transparent;
		color: #fff;
		border-radius: 50px;
		margin-top: 30px;
		transition: all 0.3s;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover,
		&:focus {
			background: #fff;
			color: $bgColor;
			outline: none;
		}
	}
}
.correct {
	border: none;

	background: linear-gradient(90deg, #d4fc79, #96e6a1);
	animation: tada 0.8s ease forwards;
}
.wrong {
	border: none;
	color: #fff !important;
	background: linear-gradient(270deg, #ff0844, #ff7eb3);
	animation: shake 0.8s ease forwards;
}
@keyframes shake {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(1em);
	}
	40% {
		transform: translate(-1em);
	}
	60% {
		transform: translate(1em);
	}
	80% {
		transform: translate(-1em);
	}
	100% {
		transform: translate(0);
	}
}
@keyframes tada {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}

	10%,
	20% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}
